<h1>Details of the Service for <%= @service.vehicle.make %></h1>
<h2>Type of service: <%= @service.name %></h2>
	<h2>Detail: <%= @service.description %></h2>
		<h2>Total:  $<%= @service.total_cost %></h2>

		<%= link_to "Update" , edit_service_path(@service) %></br>
		<%= link_to "Delete #{@service.name}", service_path(@service),  :method => :delete %>
			

