
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>


<div class = "app_whole" >



<h3>Welcome to</h3><h2 style = "color: blue"> "Top Gear Tech"<h2><h3> Garage Management App</h3>


 <img src = "https://media.giphy.com/media/IelxugxenjdyU/giphy.gif">
</div>

