
<div class = "app_whole" id ="garage-form">



<%= form_for(@garage) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %></br>

 

<%= f.label :location %>
<%= f.text_field :location %></br>


<%= f.label :tire_service %>
<%= f.check_box  :tire_service %></br>

<%= f.label :service_any_vehicle %>
<%= f.check_box  :service_any_vehicle %></br>


<%= f.hidden_field :user_id %>

<%= f.submit  %>
<%end%>
</div>
