

<h1 style = " padding: 20px"><%= @user.email.split("@")[0].upcase %>'s garages</h1>
<img src ='/assets/spinningtire.gif' style="width:142px;height:42px">
<ul>
<% @garages.each do |g| %>
	<li><%= link_to g.name, garage_path(g) %></li>
	<%end %>



<li ><%= link_to "Add a New Garage", new_garage_path %></li>
</ul>




<button id = "get-my-garages" data-id = "<%= @user.id %>">Let's pull the data in a different way</button>
<div id ="garages-list" style = "margin: 20px">
	<button id ="create-garage" data-userId = "<%= @user.id %>">Create New Garage</button>
	<div id = "garage-form-display"></div>

	
</div>

<div class ="garageDetails" id = "garage-details"></div>

