
<div class = "garage_detail">

	


<h3 id = "garageName" class = "titles">Garage Name:  <span id = 'vehicle'><%= @garage.name %></span></h3>


<button id ="previousGarage" data-index = "<%= @user.garages.index(@garage) %>">Previous</button>
<button id ="nextGarage" data-index = "<%= @user.garages.index(@garage) %>">Next</button><br>

<button id ="garageAppointments" data-id = "<%= @garage.id%>">Appointments</button>
<button id = 'garages-data' data-id = "<%= @garage.id%>">Garage details</button>

</div>






 

 
 <div class ="garageAction">
 <button ><%= link_to "Edit this Garage's info", edit_garage_path(@garage) %></button></br>
 <button><%= link_to "Delete #{@garage.name}", garage_path(@garage), :method => :delete %></button>
</div>

 












