<div class = "garage_detail">

<h1 class = "titles">Garage info Updated!!!</h1>
<h3>Garage Name: <h2 style = 'color: orange'><%= @garage.name %></h2>
Location: <h2 style = 'color: orange'><%= @garage.location %></h2></h3>
<h3>Offers Tire Service? <h2 style = 'color: orange'><%= @garage.tire_service %></h2></h3>
<h3>Can service any type of vehicles?<h2 style = 'color: orange'><%= @garage.service_any_vehicle %></h2></h3>


<%= link_to "Appointments of  #{@garage.name}", appointments_path(@garage.id) %><br>
<%= link_to "Update  #{@garage.name.upcase}'s info", edit_garage_path(@garage.id) %>
</div>
