


<h1>Customer Updated Information Page</h1>
<h2>Name : <%= @customer.first_name %> <%= @customer.last_name %></h2></br> 
<h3>Email : <%= @customer.email %></h3></br>
<h2>Balance to be collected : $<%= @customer.standing_balance %></h2></br>
<h3>Number of vehicles(if any): <% @customer.vehicles.count %></h3></br>
<h3>Details of <%= link_to "Vehicles", vehicles_path(@customer.id) %></h3> 

<%= link_to "Update  #{@customer.first_name}'s info", edit_customer_path(@customer.id) %></br>

